body{
    font-family: Josefin Sans;
}
ul.menu {list-style-type: none;
}
ul.menu a {width:189px;}

ul.menu li {display: inline-table;
            bottom: 0px;
            vertical-align: bottom;
            float:none;
}
ol, ul {
    margin-bottom: 0px;
}

td {vertical-align: bottom !important;}

header a.lg-menu { color: #405061;
                   font-size: 20px;
}

header a.lg-menu:hover { color: #3a87ad;
                         text-decoration: none;
}
header hr { display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
}

footer div {
    height: 60px;
    background-color: #4F5759;
    text-align: center;
    position:relative;

}

.inner-footer{
    padding-top:30px;
}


footer  { text-align: right;
          font-size: 18px;
          margin-right: 10px;
          color: white;
          margin-top: 10px;
}

div.footer{
   background-color: #4F5759;
   height: 20%;
}

.social-icons{
    font-family: test;
}
.social-icons a{
    color: white;
    transition: font-size 0.3s;
}
.social-icons a:hover{
    color: #3a87ad;
    text-decoration: none;
    font-size: 24px;
}


.panel-image-gallery{
    padding: 20px;
    margin-top: 20px;
}

#xs-menu{
    font-size: 10px;
}

ul.dropdown-menu{
    width: 70px;
    position: relative;
    left: 70%;
    top:100px;
    margin-right: auto;
    margin-bottom: auto;
}
div.image-swap{
    background-size: cover;
}