.jumbotron {
    background:  url("../images/maths.jpg") center center;
    width: 90%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    margin:auto;
    padding-top: 10%;
    padding-bottom:10%;
} 

#site-title{
    width:70%;
}


#message {
    position: relative;
    text-align: center;
    font-size: 50px;
    color: #405061;
}

#add-menu-picture{background-image: url("../images/add_complete.jpg");}

#register-menu-picture{background-image: url("../images/register_complete.jpg");}

#compare-menu-picture{background-image: url("../images/compare_complete.jpg");}

#analyze-menu-picture{background-image: url("../images/analyze_complete.jpg");}

#xs-add-menu-picture{background-image: url("../images/rsz_add_complete.jpg");}

#xs-register-menu-picture{background-image: url("../images/rsz_register_complete.jpg");}

#xs-compare-menu-picture{background-image: url("../images/rsz_compare_complete.jpg");}

#xs-analyze-menu-picture{background-image: url("../images/rsz_analyze_complete.jpg");}

.lg-image{
    width: 400px;
    height: 240px;
}
.image-swap {
    margin-bottom:40px;
    opacity: 0;
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;        
    position: relative;  
   }
.xs-image{
    width: 200px;
    height: 120px;
    margin-left:auto;
    margin-right: auto;
}

div.space{
    width: 10%;
}
.image-swap:hover {
    background-position: 0 100%;
}
.col-md-offset-3{
    margin-left: 20%;
}

.arrow {
    margin:auto; 
    margin-bottom: 40px;
    position: relative;
    width: 160px;
    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    padding: 3%;

}

#arrow_image {
    width: 100%;
    height: 100%;
}

@keyframes arrow {
    0% {top: 0px; }
    50% {top: 50px;}
    100% {top: 0px;}
}