.panel-market > .panel-heading {
    background-color:  	#7abfe3;
    border-color: #6DABCC;
    color: white;
}

.btn{
    display: block;
    width: 120px;
    height: 40px;
    margin:auto;
    background-color: #7abfe3;
    color: white;
}

.panel-market {
    
     border-color: #6DABCC;
}

.panel-attachment{
   
    border-color: #6DABCC;
}
.panel-attachment > .panel-heading{
     background-color:  	#7abfe3;
    border-color: #6DABCC;
    color: white;
}

.form-horizontal .control-label{
    text-align: left;

}
.form-control{
    width: 60%
}
select {
    width: 60%;
    height: 34px;                    
}
input{
    width: 30%;

}
div.footer {
    height: 90px;
    background-color: #4F5759;
    position:fixed;
    margin: auto;
    left: 0;
    bottom: 0;
    width: 100%;
}

div.inner-footer{
    width: 100%;
}


#footer-text{
    
  text-align: center;
  color: white;
  margin-top: 0;
}

input[type='number']{
    width: 10%;}




