<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<footer>
    <div class="footer">
        <div class="inner-footer">
            
            <div id="social-icons" class="col-xs-12 col-sm-6 col-sm-push-5">
                <span class="social-icons col-xs-offset-4 col-xs-1 col-sm-offset-8 "><a class="social-icons" href="#">a</a></span>
                <span class="social-icons col-sm-1  col-xs-1"><a class="social-icons" href="#">b</a></span>
                <span class="social-icons col-sm-1  col-xs-1"><a class="social-icons"   href="#">c</a></span>
                <span class="social-icons col-sm-1 col-xs-1"><a class="social-icons"  href="#">d</a></span>
            </div>
             <div id="footer-text"  class="col-xs-12 col-sm-6 col-sm-pull-6">
                <p>&copy  Created and designed by: Tatiana Sobol</p>
            </div> 
        </div>
    </div>
</footer> 