<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Formulare</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style>
            .panel {
                width: 60%;
            }
            .form-horizontal .control-label{
                text-align: left;

            }
            .form-control{
                width: 60%
            }
            select {
                width: 60%;
                height: 34px;                    
            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">ManageYourMarkets</a>
                </div>
                <div>
                    <ul class="nav navbar-nav justified">
                        <li class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">MiniMarkets
                                <span class="caret"></span>                          
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">miniMarket1</a></li>
                                <li><a href="#">miniMarket2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Markets
                                <span class="caret"></span> 
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">market1</a></li>
                                <li><a href="#">market2</a></li>
                                <li><a href="#">market3</a></li>
                            </ul>
                        </li>                        
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                SuperMarkets<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">supermarket1</a></li>
                                <li><a href="#">supermarket2</a></li>
                                <li><a href="#">supermarket3</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">HyperMarkets
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">hypermarket1</a></li>
                                <li><a href="#">hypermarket2</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> 
        </nav>
        <div class="container">
            <div class="panel panel-success center-block">
                <div class="panel-heading">Formular</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label text-align="left" class="control-label col-md-4">Tip:</label>
                            <select>
                                <option>MiniMarket</option>
                                <option>Market</option>
                                <option>SuperMarket</option>
                                <option>HyperMarket</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-xs-12" for="name">Nume:</label>
                            <input class="form-control col-md-6" type="text" placeholder="Introduceti numele">
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-xs-12" for="adresa">Adresa:</label>
                            <input class="form-control col-md-6" type="text" placeholder="Introduceti adresa">    
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-xs-12" for="numarInregistrare">Număr de înregistrare:</label>
                            <input class="form-control col-md-6" type="text" placeholder="Introduceti numarul de inregistrare">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-xs-12">Numărul de case disponibile:</label>
                            <input  type="text" class="form-control col-md-6">
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-xs-12">Numărul minim de case lucrătoare:</label>
                            <input type="text" class="form-control col-md-6">
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-xs-12">Profit minim garantat:</label>
                            <input type="text" class="form-control col-md-6">
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-xs-12">Dotări:</label>
                            <select>
                                <option>Brutărie</option>
                                <option> Cofetărie </option>
                                <option>  Secție de vin</option>
                            </select>                                
                        </div>
                        <input type="submit" class="form-control btn-succes">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
