<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<header>
    <br>
    <div class="container-fluid">
        <div class="outer-menu">
            <div class="inner-menu">
                <ul class="menu" style="position: relative;">
                    <li class="hidden-xs col-md-1 col-md-offset-2 col-sm-2 ">
                        <a class="lg-menu" href="/View/mini-market-all.php">Markets</a></li>
                    <li class="hidden-xs col-md-2 col-sm-2">
                        <a class="lg-menu" href="/View/mini-market-all.php" data-target="/View/mini-market-all.php">MiniMarkets</a>         
                    </li>
                    <li class="col-md-1 col-sm-2"><a  href="../index.php"><image src="../images/logo.png"/></a> </li>
                    <li class=" hidden-xs col-md-1  col-sm-2"><a class="lg-menu" href="/View/mini-market-all.php">SuperMarkets</a></li>
                    <li class="hidden-xs col-md-2  col-sm-2">
                        <a class="lg-menu" href="/View/mini-market-all.php">HyperMarkets</a>
                    </li>             
                    <li style="position: absolute; display: inline; right: 60px;" class=" hidden-sm hidden-md hidden-lg">
                        <div class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                <b class="glyphicon glyphicon-list"></b>
                            </a>
                            <ul class="dropdown-menu" >
                                <li><a  href="/View/mini-market-all.php">minimarkets</a></li>
                                <li><a href="/View/mini-market-all.php">markets</a></li>
                                <li><a href="/View/mini-market-all.php">supermarkets</a></li>
                                <li><a href="/View/mini-market-all.php">hypermarkets</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
</header>
<script>
    $('#xs-menu').click(function () {

    });
</script>